.title{
    background-color: rgb(211, 72, 72);
    color: white;
}
.close{
    float: right;

    button{
        background-color: rgb(255, 57, 57);
        color: white;
        justify-content: center;
        border-radius: 5px;
    }
}

