@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

img{
     border-radius: 5px;
     height: 250px;
     width: 180px;
}

.search{
    height: 20px;
    border-radius: 5px;
   float: right;
}

h2{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.movie{
    margin: 20px 0 ;
 
.movie_images{
    padding : 0px;
    margin-top : 5px;
    width : 100%;
    white-space : nowrap;
    
    
    .slide:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

}
}