<div class="container">
    <div class="header">
        <app-banner></app-banner>

        <div class="header_main">
            <div class="header_left">
                <a routerLink="/">
                    <img src="assets/logoTipo.png" alt="logo">
                </a>
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#footer">Contatti</a></li>

                </ul>
            </div>

            <div class="header_right">
                <ul>
                    <li>
                      
                    </li>
                    <li> <a  routerLink="/login"> Logout</a></li>
                </ul>
            </div>
        </div> 
    </div>

 <div class="body">
    <app-slider ></app-slider>
    <app-footer></app-footer>
    
</div>
</div>

