<div class="wrapper" [ngStyle]="{
    'background-image' : 'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(assets/login.jpg)' 
    }">
    <div class="header">
        <div class="logo">
           <a href="#">
               <img src="/assets/logoTipo.png" alt="logo">
           </a>
        </div>
    </div>
    <div class="login-body">
        <div class="login-box">
            <h2>Sign up</h2>
            <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="input-wrap">
                    <input formControlName="fullname" type="text" placeholder="Full Name">
                </div>
                <div class="input-wrap">
                    <input formControlName="surname" type="text" placeholder="Surname">
                </div>
                <div class="input-wrap">
                    <input formControlName="email" type="email" placeholder="Email">
                </div>
                <div class="input-wrap">
                    <input formControlName="password" type="password" placeholder="Password">
                </div>
                <div class="input-wrap">
                   <button type="submit">Sign up</button>
                </div>
            </form>
            <a routerLink="/login">Already Registred? Click to login</a>
        </div>
    </div>
</div>

